@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Slab:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background: #100d10;
  flex-direction: column;
}

.main-container {
  color: #fff;
  font-family: "Dancing Script", cursive;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: center;
}

img {
  transition: all ease-in 0.3s;
}

img:hover {
  transform: scale(1.1);
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 500px;
  padding: 2rem;
}

.slide,
.side-images {
  flex: 1;
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

.slide {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.slide-img {
  width: fit-content;
  max-width: 90%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

.side-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.side-images div {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
}

.side-images div img {
  width: 100%;
  width: fit-content;
  height: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 700px) {
  .main-container h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .main-wrapper {
    flex-direction: column;
    max-width: 500px;
    max-height: 600px;
    gap: 2rem;
    padding-top: 1rem;
  }

  .back {
    font-size: 1rem;
  }

  .slide {
    flex: 2;
  }
}
@media (max-width: 450px) {
  .side-images div {
    height: 75px;
    width: 75px;
  }

  .back {
    padding: 0.5rem;
  }
}

@media (max-width: 350px) {
  .side-images div {
    height: 50px;
    width: 50px;
  }
}

div.stamps {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

div.stamps img {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: spin 10s linear infinite;
}
